{% load static %}

<!doctype html>
<html lang="en">
    <head>        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <title>{% block title %} {% endblock title %}</title>
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/lab-4">Lab 4</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-note' %}">Add Notes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'note-list' %}">Card</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row">
              <div class="col-3 sidebar pt-1">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                    </div>
                </div>
        
                <div class="col-9 main-content p-2">
                    {%  block content %}
                    
                    {%  endblock content %}
                </div>
            </div>
        </div>


        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
        
    </body>
</html>