{% extends "base.html" %}
{% load static %}
{% block title %} Lab 4 - Home {% endblock title %}

{% block content %}
    <h1>Notes List</h1>
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">To</th>
                <th scope="col">From</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        {% for note in notes %}
        <tbody>
            <tr>
                <th scope="col">{{note.to}}</th>
                <th scope="col">{{note.From}}</th>
                <th scope="col">{{note.title}}</th>
                <th scope="col">{{note.message}}</th>
            </tr>
        </tbody>
        {% endfor %}
    </table>


{% endblock content %}