{% extends "base.html" %}
{% load static %}
{% block title %} Lab 4 - Note List {% endblock title %}

{% block content %}
<h1>Lab 4 - Note Card</h1>
<div class="row">
    {% for note in notes %}
    <div class="col-md-4 pb-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{note.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">To: {{note.to}}, From: {{note.From}}</h6>
                <p class="card-text">{{note.message}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}