{% extends "base.html" %}
{% load static %}
{% block title %} Lab 4 - Add Form {% endblock title %}

{% block content %}
<h1>Lab 4 - Add Form</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"><br>
</form>
{% endblock content %}