<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 3</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>

        <!-- Loop -->
        {% for item in friends %}
        <tr>
          <td> {{item.name}} </td>
          <td> {{item.npm}} </td>
          <td> {{item.DOB}} </td>
        </tr>
        {% endfor %}
        <!-- End of loop -->
    </table>
  </body>
</html>
