<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 3 - Add Friend Form</title>
  </head>
  <body>
    <h1>Add Friend Form</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit"><br>
    </form>
  </body>
</html>
