<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 2</title>
  </head>
  <body>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>

        <!-- Loop -->
        {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{note.to}}</td>
            <td>{{note.From}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <!-- End of Loop -->
        
     </table>
  </body>
</html>
