body {
    background-color: rgb(228, 222, 222);
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.sidebar {
    max-height: 500px;
}

.list-group-item {
    background-color: rgb(27, 26, 26);
    color: white;
}